.js-form {
  padding: 0px 20px 20px 20px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
}

.form__button {
  background-color: teal;
     color: white;
     border: none;
     padding: 8px;
}

@media (max-width: 767px) {
  .js-form {
      display: flex;
      flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .js-form__button {
      width: 100%;
      
  }
}